@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Rubik+Doodle+Shadow&display=swap')

/* Font style */
/* 
.klee-one-regular {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.klee-one-semibold {
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
}

.rubik-doodle shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/

/* Colors */
/* 
Color: green #689577
Color: orange #FFBC59 
*/

body {
    padding-top: 56px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    transition: top 0.3s; /* Smooth transition effect for the navbar */

    text-transform: uppercase;
    font-family: "rubik doodle shadow";
}

.navbar.scrolled {
    background-color: #333; /* Change the background color when scrolled */
}

/* NAVIGATION */
.navbar a {
    color: #FFBC59;
}

.navbar a:hover {
    color: #FFBC59;
}

i.fa-solid.fa-bars {
    color: #FFBC59;
}

/* SEARCH-BAR */
div.container-fluid {
    gap: 1rem;
}
.search-bar {
    padding-left: 38rem;
}

button.btn.btn-outline-warning {
    color: #FFBC59;
    border-color: #FFBC59;
    background-color: #ffbc5929;
}

input.form-control {
    font-family: "Klee One", cursive;

    border-color: #FFBC59;
    background-color: #ffbc59bd;
}

input.form-control:focus {
    background-color: #FFBC59;
    color: #333;
}

/* HERO SECTION */
.hero-section {
    background-attachment: fixed;
    background-image: url(/assets/images/Hero.webp);
    position: relative;
    height: 100vh;

    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1.5rem solid #FFBC59;
}

.hero-text {
    text-transform: uppercase;

    background-color: #6895776b;
    border: 2px solid #689577;
    color: #FFBC59;

    padding: 3rem;
}

#hero-logo-name {
    font-weight: bold;
}

i.fa-regular.fa-circle-down {
    color: #FFBC59;
    font-size: 2rem;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
}

i.fa-regular.fa-circle-down:hover {
    font-size: 3rem;
    transition: 0.5s;
}

/* BLOG POSTS */
/* .blog-post {
    background-attachment: fixed;
    background-image: url(/assets/images/Blog-bg.jpg);
    background-size: cover;

    height: 100vh;

    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-color-blog-post {
    background-color: white;

    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;

    height: 100vh;
} */

/* SUBSCRIBE SECTION */


/* ABOUT SECTION */
/* .about-section {
    font-family: "rubik doodle shadow";

    padding: 80px 0;
    background-color: #fff;
}

.about-text {
    font-family: "Klee One", cursive;
    font-weight: 600;

    max-width: 800px;
    margin: 0 auto;
    text-align: center;
} */

/* .about-bg {
    background-image: url(/assets/images/About-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
} */