@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Rubik+Doodle+Shadow&display=swap')

/* Font style */
/* 
.klee-one-regular {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.klee-one-semibold {
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
}

.rubik-doodle shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/

/* Colors */
/* 
Color: green #689577
Color: orange #FFBC59 
*/

body {
    padding-top: 56px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    transition: top 0.3s; /* Smooth transition effect for the navbar */

    text-transform: uppercase;
    font-family: "rubik doodle shadow";
}

.navbar.scrolled {
    background-color: #333; /* Change the background color when scrolled */
}

/* NAVIGATION */
.navbar a {
    color: #FFBC59;
}

.navbar a:hover {
    color: #FFBC59;
}

i.fa-solid.fa-bars {
    color: #FFBC59;
}

/* HERO SECTION */
.hero-section {
    background-image: url(/assets/images/Hero.webp);
    position: relative;
    height: 100vh;

    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-transform: uppercase;

    background-color: #6895776b;
    border: 2px solid #689577;
    color: #FFBC59;

    padding: 3rem;
}

#hero-logo-name {
    font-weight: bold;
}

i.fa-regular.fa-circle-down {
    color: #FFBC59;
    font-size: 2rem;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
}

i.fa-regular.fa-circle-down:hover {
    font-size: 3rem;
    transition: 0.5s;
}

/* ABOUT SECTION */
.about-section {
    font-family: "rubik doodle shadow";

    padding: 80px 0;
    background-color: #fff;
}

.about-text {
    font-family: "Klee One", cursive;
    font-weight: 600;

    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}